@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.backgroundDocumentos{
    background-image: url(img/backgroundImage.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.tituloBungee{
    font-family: 'Bungee', cursive;
    font-size: 30pt;
    color: #005ca8;
}